.weapons{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 200vh;
    width: 100%;
    align-items: center;
}

h2{
    color: white;
    font-size: 50px;
}

.pistols{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;

}

.pistols div{
    height: 200px;
    width: 150px;
    border-radius: 20px;
    background-color: gray;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
.pistols img{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    object-fit: contain;
    

}



.rifles{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;

}

.rifles div{
    height: 200px;
    width: 150px;
    border-radius: 20px;
    background-color: gray;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
.rifles img{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.smg{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;

}

.smg div{
    height: 200px;
    width: 150px;
    border-radius: 20px;
    background-color: gray;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
.smg img{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pistols div:hover, .rifles div:hover, .smg div:hover{
    box-shadow: 0px 0px 5px 5px rgb(255,255,255,.6);
}

.reveal {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}